:root {
  --branding-color: #33465b;
  --secondary-color: #ecf3fa;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Open Sans", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  color: #233142;
}

h1 {
  font-size: 68px;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 50px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  color: var(--branding-color);
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.content-container {
  padding: 80px 50px;
}

.content {
  margin: 30px;
}
.content h1 {
  font-size: 48px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content h3 {
  font-size: 18px;
  line-height: 1;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.profile {
  max-width: 300px;
  border-color: var(--branding-color);
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
}
.about-me {
  max-width: 600px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}
.project-description {
  padding: 50px 30px;
}

.logo {
  max-height: 25px;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 950px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 14px;
  }
  footer .contact-box {
    padding: 30px;
  }
}
